[Unit]
Description=Dossier
After=network.target


[Service]
ExecStart=/home/dossier/dossier server serve --http 127.0.0.1:8080
WorkingDirectory=/home/dossier
User=dossier
Group=dossier
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target